body { margin:50px; font-size:0.9em; line-height:20px; font-family: "Myriad Pro", "Trebuchet MS", Arial;  background: url(../../images/bckg.gif) #000; border:1px solid #666666;}
a { color:#C23B01;}
a:hover { color:#333333;}
#container { background-color:#fff;}
header { background:url(../images/header_bckg_main.jpg) repeat-x  #C13B00; display:block;}
header hgroup { background:url(../images/header_bckg.jpg) no-repeat; padding:30px 0 0 40px; height:83px; display:block;}
header hgroup h1 { color:#ffffff; font-style:italic;}
/*#logo a{ color:#FFFFFF; text-decoration:none; font-weight:bold; font-size:20px; font-style:italic; text-transform:uppercase;}*/
nav { background: url(../images/menu_bckg.jpg) #FF6600; height:30px; }
nav ul { margin:0; padding:0;}
nav ul li{ display:inline-block; float:left; width:104px; list-style:none; text-align:center; }
nav a { display:block; float:left; width:104px; color:#fff; font-size:14px; text-transform:uppercase; font-weight:bold; text-decoration:none; padding-top:4px; font-style:italic;}
nav a:hover{ padding-top:4px; height:22px; background:url(../images/menu_bckg_over.jpg) #C23B01;}

#text { margin: 0 270px 0 20px;}
#text p { padding:0 20px 10px 0;}
#text li {list-style:none; padding-left:20px; background:url(../images/li.gif) no-repeat 0px 7px;}
aside { float:right; width:200px; padding: 0 20px 0 10px; font-size:14px; display:block;}
h1 { margin:0; padding:0; text-transform:uppercase; font-size:1.8em; color:#1B1D1E; font-style:italic}

section#main { float:left; background:url(../images/sidebar_bckg.gif) repeat-y top right #fff; padding:20px 0 0 0;}
footer { background:url(../images/footer_bckg.jpg) #424E4F; height:102px; clear:both; font-style:italic; display:block; }
footer a { color:#FFFFFF;}
footer a:hover { text-decoration:none;}
#left_footer { float:left; padding:40px 0 0 30px; text-transform:uppercase; color:#FFFFFF; font-weight:bold; font-size:12px;}
#right_footer { float:right; padding:40px 30px 0 0; text-transform:uppercase; color:#FFFFFF; font-weight:bold; font-size:12px; text-align:right; width:400px;}

div.row {display:table-row;}
.fields div.field {display:table-cell;}
div.fields {}
div.remove {display:table-cell;}
div.add {}
.unit_point_total {text-align:center;font-size:x-large;}
.placeholder {color:#aaa;}
div#units {display:table;}
.row.unit_option {}