#unit_option.fields
	.remove
		= link_to_remove_fields "x", f
	.field.no_br
		= f.text_field :name
	.field
		= f.number_field :points, :size => 10
	%br/
	.add
		= link_to_add_fields "Add Option", f, :unit_option
	